.button {
  padding: 1rem 2rem;
  background: none;
  border: 1px solid #000;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  border-radius: 1rem;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}